@using System.Linq
@model List<ExchangeRate>
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div style="text-align: center; vertical-align: middle;">
        <h1>Today : @DateTime.Now.ToString("dd.MM.yyyy")</h1>
    </div>
    <form method="post">
        <div>
            <input id="date-field" type="date" name="date" min="2012-06-04"
                   max=@DateTime.Now.ToString("yyyy-MM-dd") value="@DateTime.Parse( @Model[0].ExchangeDate).ToString("yyyy-MM-dd")" />
            <input type="submit" value="Change Date" />
        </div>
        <div>
            <div>
                1
                <select id="currencyName" name="currency">
                    @foreach (var item in Model)
                {
                    <option id="@item.ShortName" value=@item.Rate>@item.FullName</option>
                }
                </select> = <b id="text-field"></b> UAH
            </div>
        </div>
    </form>
</div>

<script>
    const select = document.getElementById('currencyName');
    const date = document.getElementById('date-field');
    const text = document.getElementById('text-field');
    text.innerHTML = select.value;

    select.addEventListener('change', (event) => {
        const selectedCurrency = event.target.value;
        text.innerHTML =  selectedCurrency;
    });
</script>

